@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

#entry{
  .content{
    position: relative;

    .textBox{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 400px;
      line-height: 1.1;

      h3{
        font-family: 'Chakra Petch', sans-serif;
        font-size: 5rem;
      }
    }
  }
}