main{
  width: 100%;
  margin: 0 auto;

  .content{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

    h2{
      margin: 20px auto;
      padding: 0 0 15px;
      border-bottom: 1px solid black;
      font-size: 3rem;
    }
  }
}